* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-purple-100: hsl(254, 88%, 90%);
    --color-purple-500: hsl(256, 67%, 59%);
    --color-yellow-100: hsl(31, 66%, 93%);
    --color-yellow-500: hsl(39, 100%, 71%);
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 7%);
}
/* dm-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/dm-sans-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* dm-sans-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/dm-sans-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: rgba(245,245,245,255); 
  }

#cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 350px;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
/*CARD 1*/
#card1 {
    margin: 1.5rem auto;
    background-color: var(--color-purple-500);
    width: 100%;
    /*max-width: 350px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    @media (min-width: 1440px){
        grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 1;
        height: 100%;
    } 
}

#card1 h1 {
    color: var(--color-white);
    font-size: 3rem;
    line-height: 1;
    font-weight: 500;
    margin-block: 1.5rem;
}

#card1 h1 .highlight {
    color: var(--color-yellow-500);
}

#card1 img {
    width: 230px;
    height: auto;
}

#card1 p {
    color: var(--color-white);
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

/*CARD 2*/
#card2 {
    background-color: var(--color-white);
    margin: 1.5rem auto;
    width: 100%;
    /*max-width: 350px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    @media (min-width: 1440px){
        grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 4;
    height: 100%;
    } 
}

#card2 img {
    width: 320px;
    height: auto;
}

#card2 h2 {
    font-size: 24px;
    line-height: 25px;
}

/*CARD 3*/
#card3 {
    background-color: var(--color-yellow-500);
    margin: 1.5rem auto;
    width: 100%;
    /*max-width: 350px;*/
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 0;
    @media (min-width: 1440px){
        grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 4;
    height: 100%;
    } 
}

#card3 h2 {
    font-size: 28px;
    line-height: 30px;
    font-weight: 500;
}

#card3 img {
    width: 250px;
    height: auto;
    margin-top: 1rem;
}

/*CARD 4*/

#card4 {
    background-color: var(--color-purple-100);
    margin: 1.5rem auto;
    width: 100%;
    /*max-width: 350px;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 0;
    @media (min-width: 1440px){
        grid-row: span 6 / span 6;
    grid-column-start: 4;
    grid-row-start: 1;
    height: 100%;
    } 
}

#card4 h2 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    margin: 1rem;
}

#card4 p {
    font-size: 18px;
    line-height: 20px;
    margin: 1rem;
    font-weight: 500;
}

/*CARD 5*/
#card5 {
    background-color: var(--color-purple-500);
    margin: 1.5rem auto;
    width: 100%;
    /*max-width: 350px;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 0;
    @media (min-width: 1440px){
        grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 7;
height: 100%;
    } 
}

#card5 h2 {
    font-size: 33px;
    line-height: 30px;
    font-weight: 400;
    margin: 1rem;
    color: var(--color-white);
}

#card5 img {
    width: 250px;
    height: auto;
    margin-top: 0.5rem;
    align-self: center;
}

/*CARD 6*/

#card6 {
    background-color: var(--color-white);
    margin: 1.5rem auto;
    width: 100%;
    /*max-width: 350px;*/
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    @media (min-width: 1440px){
        grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 7;
    height: 100%;
    } 
}

#card6 h2 {
    font-size: 50px;
    line-height: 30px;
    font-weight: 600;
    margin: 1rem;
}

#card6 p {
    font-size: 18px;
    line-height: 20px;
    margin-left: 1rem;
    font-weight: 500;
}

#card6 img {
    width: 160px;
    height: auto;
    margin-top: 1rem;
    margin-left: 1rem;
}

/*CARD 7*/

#card7 {
    background-color: var(--color-yellow-100);
    margin: 1.5rem auto;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    @media (min-width: 1440px){
        grid-row: span 4 / span 4;
        height: 100%;
    } 
}

#card7 h2 {
    font-size: 27px;
    line-height: 30px;
    font-weight: 600;
    margin: 1rem;
}

#card7 i {
    color: var(--color-purple-500);
}

#card7 img {
    width: 200px;
    height: auto;
    margin-left: 1rem;
}

/*CARD 8*/

#card8 {
    background-color: var(--color-yellow-500);
    margin: 1.5rem auto;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1.25rem;
    @media (min-width: 1440px){
        grid-row: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 5;
        height: 100%;
    } 
}

#card8 h2 {
    font-size: 27px;
    line-height: 25px;
    font-weight: 500;
    
}

#card8 img {
    width: 205px;
    height: auto;
    margin-top: 1rem;
}

@media (min-width: 1440px) {
    #cards {
        grid-template-columns: repeat(4, 320px);
        grid-template-rows: repeat(8, 100px);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        
    }
}

/*
- Mobile: 375px
- Desktop: 1440px
- grid template olis 4 pystyä ja 8 riviä, 20px gäppi
*/